:root{
    --maim-text-color: #434455;
    --maim-title-color: #2E2F42;
    --maim-logo-color: #4D5AE5;
    --maim-logo-text-color: #F4F4FD;
    --maim-logo-futer-color: #2E2F42;
    --maim-text-futer-color:#E7E9FC;
    --maim-btn-active-color: #404BBF;
    --maim-big-title-color: #FFFFFF;
    --maim-background-fon-color:#F4F4FD;
   

}

.list{
list-style: none;

}
.link{
    text-decoration: none;

}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
   }
body{
    font-family: 'Roboto', sans-serif;
    color:  #434455;
    background:#FFFFFF;

;
}  
.text{  
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;    
}

.subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    
}
/* колір логотипа web =color: #4D5AE5; */
/* колір жирного тексту color: #2E2F42; */
/* колір малого туксту color: #434455; rgba(0, 0, 0, 0.25); */
/* header styles */
/* -----------header----------- */
.logo{   
font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 1.33;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--maim-title-color);
}
.logo-web{
    color: var(--maim-logo-color);

}

.header-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;    
    letter-spacing: 0.02em;     
    color: var(--maim-title-color);
    
}
.header-link:active,
.header-link:focus,
.header-link:hover{
    color: var(--maim-btn-active-color);

}
.contakt-link{
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
color: var(--maim-text-color);

}
.contakt-link-mailto:active,
.contakt-link-mailto:hover,
.contakt-link-mailto:focus
{
color: var(--maim-btn-active-color);
}
/* -----------footer----------- */
.footer{
    background:var(--maim-logo-futer-color);
}

.logo-footer{
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
color: var(--maim-logo-text-color);
    
}

.footer-text{   
color: var(--maim-text-futer-color);

}
/* -----------main----------- */
/* -----------hero----------- */
.section-hero{
    background: var(--maim-title-color) ;

}
.hero-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--maim-big-title-color);

}

.btn-hero{
    cursor: pointer;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;    
    color: var(--maim-big-title-color);
    background:var(--maim-logo-color);
}
.btn-hero:focus,
.btn-hero:hover{
    background:var(--maim-btn-active-color);
}

/* -----------benefits----------- */
.benefits-title {

    color: var(--maim-title-color);
}
.benefits-text {
    text-transform: lowercase;
    color: var(--maim-text-color);


}
/* -----------main work----------- */
.slider-work-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--maim-title-color);  
}
/* -----------main team----------- */
.team {
    background:var(--maim-background-fon-color);

}
.team-title {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    
    color: var(--maim-title-color);
    
}
.team-name {

    color: var(--maim-title-color);

}
.team-text {
    color: var(--maim-text-color);
}
/* -----------PORTFOLIO----------- */
/* -----------menu button----------- */
.btn{
    cursor: pointer;
    font-family: 'Roboto';
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--maim-logo-color);
background: var(--maim-background-fon-color);

}
.btn:hover,
.btn:focus{
    background: var(--maim-btn-active-color);
    color: var(--maim-big-title-color);

}
/* -----------features----------- */
.features-title{
color: var(--maim-title-color);

}
.features-text{
    color: var(--maim-text-color);
    
}